{% extends 'base_generic.html' %}

{% block content %}
    {% if validlink %}
        <p>Iltimos, yangi parolni kiriting (va tasdiqlang)</p>
        <form action="" method = 'post'>
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password_errors }}
                        <label for="id_new_password">Yangi parol:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2_errors }}
                        <label for="id_new_password2">Parolni tasdiqlang:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Parolni almashtirish" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Parolni almashtirishda xatolik yuz berdi!!!</h1>
        <p>Parolni tashlab yuborish bo'yicha ssilka haqiqiy emas bo'lib chiqdi, chunki u ssilka allaqachon ishlatib yuborilgan.
        Iltimos, qaytadan parolni tashlab yuborishga harakat qilib ko'ring.</p>
    {% endif %}
{% endblock %}